<!DOCTYPE html>
<html lang="ko">
	<head>
		<title>창고_정산관리</title>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=0">
		<meta name="format-detection" content="telephone=no">

		<script type="text/javascript" src="../script/js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../script/js/jquery-ui-1.10.2.custom.js"></script>
		<script type="text/javascript" src="../script/js/script.library.js"></script>
		
		<link rel="stylesheet" href="../script/css/jquery.ui.css">
		<link rel="stylesheet" href="../script/css/style.common.css">
		<link rel="stylesheet" href="../script/css/style.section.css">
	</head>
	<body>
        <script>
            loadingEvent();
            //해당 함수 실행시 위치 관계없이 body 최하단에 소스가 삽입되어, 로딩이 동작됩니다.
        </script>
	</body>
</html>