<!DOCTYPE html>
<html lang="ko">
	<head>
		<title>창고_판매관리_상세2</title>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=0">
		<meta name="format-detection" content="telephone=no">

		<script type="text/javascript" src="../script/js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../script/js/jquery-ui-1.10.2.custom.js"></script>
		<script type="text/javascript" src="../script/js/script.library.js"></script>
		
		<link rel="stylesheet" href="../script/css/jquery.ui.css">
		<link rel="stylesheet" href="../script/css/style.common.css">
		<link rel="stylesheet" href="../script/css/style.section.css">
	</head>
	<body>
        <!-- #상단, 헤더, 페이지 머리 -->
        <div class="header">
            <ul>
                <li><button type="button" onclick="javascript:history.back(-1)"><img src="../images/icon_back.png" alt="뒤로"></button></li>
                <li>판매상세</li>
                <li><!--<button type="button" onclick="javascript:searchForm()"><img src="../images/icon_search.png" alt="검색"></button>--></li>
            </ul>
        </div>

        <!-- #컨텐츠, 본문 -->
        <div class="content">
            <!-- 상세정보 -->
            <div class="goods_about">
                <div class="sell_summary">
                    <table class="default_table">
                        <colgroup>
                            <!-- 각 셀의 길이를 조정합니다.-->
                            <col width="25%">
                            <col width="25%">
                            <col width="70">
                            <col width="*">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>품목</th>
                                <th>위치</th>
                                <th>판매가</th>
                                <th>상세</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><p class="al">상품명1</p></td>
                                <td><p class="al">이영훈님의 창고</p></td>
                                <td><p class="ar">46,000</p></td>
                                <td><p class="al">-</p></td>
                            </tr>
                            <tr>
                                <td><p class="al">상품명2</p></td>
                                <td><p class="al">이영훈님의 창고</p></td>
                                <td><p class="ar">15,600</p></td>
                                <td><p class="al">-</p></td>
                            </tr>
                            <tr>
                                <td><p class="al">상품명3</p></td>
                                <td><p class="al">이영훈님의 창고</p></td>
                                <td><p class="ar">21,000</p></td>
                                <td><p class="al">-</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="title">만사오케이 여성 겨울 루즈핏 스트리스 터들넥롱 원</div>

                <div class="goods_key">
                    <div>
                        <dl>
                            <dt>총 판매가</dt>
                            <dd>82,600</dd>
                        </dl>
                        <dl>
                            <dt>구매자</dt>
                            <dd>김동순</dd>
                        </dl>
                    </div>
                </div>

                <div class="delivery">
                    <div class="delivery_title">배송현황</div>
                    <table class="default_table">
                        <colgroup>
                            <!-- 각 셀의 길이를 조정합니다.-->
                            <col width="100">
                            <col width="*">
                            <col width="*">
                            <col width="80">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>일시</th>
                                <th>활동</th>
                                <th>장소</th>
                                <th>담당</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><p>2020.07.07 11:12</p></td>
                                <td><p class="al">상품인수</p></td>
                                <td><p class="al">자사창고</p></td>
                                <td><p>김동훈<span>010-0001-5421</span></p></td>
                            </tr>
                            <tr>
                                <td><p>2020.07.07 09:41</p></td>
                                <td><p class="al">본사출고</p></td>
                                <td><p class="al">본사물류</p></td>
                                <td><p>이굿즈<span>010-0001-0054</span></p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- #하단 고정 메뉴 -->
        <div class="footer">
            <div>
                <p>
                    <a href="#"><img src="../images/icon_nav_home.png" alt="홈"><span>홈</span></a>
                    <a href="#"><img src="../images/icon_nav_my.png" alt="내상품"><span>내상품</span></a>
                    <a href="#"><img src="../images/icon_nav_keep.png" alt="보관상품"><span>보관상품</span></a>
                    <a href="#"><img src="../images/icon_nav_sell.png" alt="판매정보"><span>판매정보</span></a>
                    <a href="#"><img src="../images/icon_nav_qa.png" alt="문의관리"><span>문의관리</span></a>
                </p>
            </div>
        </div>
	</body>
</html>