<!DOCTYPE html>
<html lang="ko">
	<head>
		<title>창고_판매관리</title>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="Content-Language" content="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=0">
		<meta name="format-detection" content="telephone=no">

		<script type="text/javascript" src="../script/js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../script/js/jquery-ui-1.10.2.custom.js"></script>
		<script type="text/javascript" src="../script/js/script.library.js"></script>
		
		<link rel="stylesheet" href="../script/css/jquery.ui.css">
		<link rel="stylesheet" href="../script/css/style.common.css">
		<link rel="stylesheet" href="../script/css/style.section.css">
	</head>
	<body>
        <!-- #상단, 헤더, 페이지 머리 -->
        <div class="header">
            <ul>
                <li><button type="button" onclick="javascript:history.back(-1)"><img src="../images/icon_back.png" alt="뒤로"></button></li>
                <li>판매관리</li>
                <li><button type="button" onclick="javascript:searchForm()"><img src="../images/icon_search.png" alt="검색"></button></li>
            </ul>
        </div>
        <div class="search_form">
            <ul>
                <li><input type="checkbox" id="option1"><label for="option1">샘플옵션1</label></li>
                <li><input type="checkbox" id="option2"><label for="option2">샘플옵션2</label></li>
                <li><input type="checkbox" id="option3"><label for="option3">샘플옵션3</label></li>
                <li><input type="checkbox" id="option4"><label for="option4">샘플옵션4</label></li>
                <li><input type="checkbox" id="option5"><label for="option5">샘플옵션5</label></li>
            </ul>
            <div>
                <input type="text">
                <input type="submit" value="검색">
                <!--버튼유형 <button type="button">검색</button>-->
            </div>
        </div>

        <script>
            //검색 상세 토글
            function searchForm(){
                $(function(){
                    var Obj_search = $(".search_form");
                    Obj_search.slideToggle(350);
                });
            }
        </script>

        <!-- #컨텐츠, 본문 -->
        <div class="content">
            <!-- 기간 검색 -->
            <div class="date_search">
                <div class="date_search_form">
                    <div>
                        <input type="text" class="date" readonly> ~
                        <input type="text" class="date" readonly>
                    </div>
                    <div>
                        <input type="image" src="../images/icon_refresh.png" alt="새로고침">
                        <!--
                            전송 타입 유형을 2가지 형태로 구성해두었습니다.
                            단순 POST방식이라면 위 input:image를, 아니라면 아래 button방식으로 이용해주세요.
                            <button type="button"><img src="../images/icon_refresh.png" alt="새로고침"></button>
                        -->
                    </div>
                </div>
            </div>

            <!-- 탭구분 -->
            <div class="keep_tab">
                <div class="keep_tab_part">
                    <a href="#" class="on"><span>판매건</span></a><!-- 선택된 탭에 class="on"을 삽입해주세요. -->
                    <a href="#"><span></span>반품 및 환불건</span></a>
                </div>

                <div class="under_focus"></div>
            </div>
            <script>
                $(function(){
                    //선택 탭 강조선 크기, 포지션 스크립트
                    let obj_tab = $(".keep_tab").find(".on > span");
                    var onsize = obj_tab.innerWidth();
                    var onposition = obj_tab.position().left;
                    let linner = $(".under_focus");

                    linner.animate({width:onsize, left:onposition});
                })
            </script>

            <!-- 판매목록 -->
            <div class="white_box">
                <a class="sell_list" href="#"><!-- href에 이동링크-->
                    <div class="title">까사마미 블랙라벨 2단 식기건조대</div>
                    <ul>
                        <li>
                            <p>이영훈님의 창고</p>
                            <p>김영희<span>(R구매자)</span></p>
                        </li>
                        <li>36,000</li>
                    </ul>
                </a>

                <a class="sell_list" href="#"><!-- href에 이동링크-->
                    <div class="title">ADLV BABY FACE HOODIE BLACK DONUT 1</div>
                    <ul>
                        <li>
                            <p>이영훈님의 창고</p>
                            <p>김영희<span>(R구매자)</span></p>
                        </li>
                        <li>12,600</li>
                    </ul>
                </a>
            </div>
        </div>

        <!-- #하단 고정 메뉴 -->
        <div class="footer">
            <div>
                <p>
                    <a href="#"><img src="../images/icon_nav_home.png" alt="홈"><span>홈</span></a>
                    <a href="#"><img src="../images/icon_nav_my.png" alt="내상품"><span>내상품</span></a>
                    <a href="#"><img src="../images/icon_nav_keep.png" alt="보관상품"><span>보관상품</span></a>
                    <a href="#"><img src="../images/icon_nav_sell.png" alt="판매정보"><span>판매정보</span></a>
                    <a href="#"><img src="../images/icon_nav_qa.png" alt="문의관리"><span>문의관리</span></a>
                </p>
            </div>
        </div>
	</body>
</html>